<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984760125211-9l6n4iiadhuv1m96t6j33jmc6fautcif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984760125211-9l6n4iiadhuv1m96t6j33jmc6fautcif</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>984760125211-25ek77ob8v4p5vi7knk0q9gfsjgb3g3i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADmor_C1XzGw_eSd_in_TFKxPZvWCCDoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>984760125211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ttrushproapp.app</string>
	<key>PROJECT_ID</key>
	<string>possible-fabric-471106-q5</string>
	<key>STORAGE_BUCKET</key>
	<string>possible-fabric-471106-q5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984760125211:ios:503799837717154e77b5be</string>
</dict>
</plist>